<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<body>
<div layout:fragment="content">
    <div th:if="${param.error}" class="alert alert-danger margin-bottom">
        Пользователь не найден или пароль указан не верно
    </div>
    <div th:if="${param.logout}" class="alert alert-success margin-bottom">
        Выход успешно произведен
    </div>
    <div th:if="${param.created}" class="alert alert-success margin-bottom">
        Пользователь '<span th:text="${param.created}"></span>' успешно создан
    </div>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <input type="text" id="username" name="username" class="form-control"
                   placeholder="Почта" required="true" autofocus="true"/>
        </div>
        <div class="mb-3">
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="Пароль" required="true"/>
        </div>
        <button type="submit" class="btn btn-success button-fixed">Вход</button>
        <a class="btn btn-primary button-fixed" href="/oauth2/authorization/google">Вход через Google</a>
        <a class="btn btn-primary button-fixed" href="/signup">Вернуться к регистрации</a>
    </form>
</div>
</body>
</html>